<%- include("partials/header.ejs") %>
<img src="<%= post.imgUrl %>" alt="post-img">
<h1><%= post.postName %></h1>
<h3><%= post.description %></h3>
<p><%= post.detail  %></p>
<%- include("partials/footer.ejs") %>